body {
  margin-left: 16%;
  margin-top: 5%;
  /* padding: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-style: dotted;
  background-color: #fcf7e4;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; */
  width: 100%;
}
/* Landing page */
#app-outter-div {
  /* margin-left: 10% */
}
#landing-page {
  text-align: center;
}
/* ****************************************************** */
/* Navigation menue */
.top-right {
  border-style: double;
  text-align: center;
  background-color: #fcf7e4;
  /* margin: 1%;
  margin-right: 80%; */
  position: fixed;
  top: 0;
  left: 0;
  width: 10em;
}
.top-right.go-back {
  border-style: double;
  text-align: center;
  background-color: #fcf7e4;
  /* margin: 1%;
  margin-right: 80%; */
  position: fixed;
  top: 0;
  left: 0;
  width: 3em;
}
.navbar-name {
  margin: 5%;
}
/* ****************************************************** */
/* User login, logout, signup, profile container */
#user-container {
  border-style: groove;
  text-align: center;
  margin: 1%;
}
/* ****************************************************** */
/* customer cart */
#cart {
}
#cart-image {
  background-color: #fcf7e4;
  width: 3em;
  position: fixed;
  top: 0;
  right: 0;
}
#cart-number {
  position: fixed;
  top: 18px;
  right: 19px;
}
/* ****************************************************** */
/* Products */
#product-container {
  border-style: solid;
  text-align: center;
  /* margin: 1%; */
  /* margin-left: 20%; */
}
#product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-style: groove;
  text-align: center;
  margin: 1%;
}
#product-card {
  border-style: groove;
  text-align: center;
}
#product-showpage {
  display: flex;
  justify-content: space-around;
}
#showpage-img {
  margin-top: 10%;
}
.product-image {
  width: 250px;
}
.product {
  margin: 10px auto;
}
/* ****************************************************** */
/* Container that wraps searching, filtering, and sorting */
#user-input {
  border-style: ridge;
  text-align: center;
  margin: 1%;
  /* margin-left: 20%; */
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
}
/* ****************************************************** */
/* Searching */
#search {
  border-style: double;
  text-align: center;
  margin: 1%;
}
#magnifier {
  width: 3em;
}
/* ****************************************************** */
/* Sorting */
#sort {
  border-style: double;
  text-align: center;
  margin: 1%;
}
#price-sort-container {
  /* margin-left: 20%; */
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}
.price-sort {
  border-style: groove;
}
.price-sort h5 {
  /* background-color: rgb(239, 234, 225); */
  margin: 0.5em;
}
/* ****************************************************** */
/* Filtering */
#filter {
  border-style: double;
  text-align: center;
  margin: 1%;
}
#color-filter-container {
  /* margin-left: 20%; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#gender-filter-container {
  /* margin-left: 20%; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#material-filter-container {
  /* margin-left: 20%; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#category-filter-container {
  /* margin-left: 20%; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.filter {
  border-style: groove;
}
.filter h5 {
  margin: 0.5em;
}
#white {
  background-color: rgb(239, 234, 225);
}
#black {
  background-color: black;
}
#brown {
  background-color: rgb(121, 81, 16);
}
#navy {
  background-color: rgb(63, 74, 83);
}
#blue {
  background-color: rgb(103, 157, 198);
}
#yellow {
  background-color: rgb(254, 208, 93);
}
#pink {
  background-color: rgb(247, 187, 197);
}
#purple {
  background-color: rgb(128, 67, 154);
}
#beige {
  background-color: rgb(218, 199, 176);
}
#red {
  background-color: rgb(191, 64, 40);
}
#green {
  background-color: #57ad68;
  /* background-color: rgb(88, 167, 104); */
}
/* ************************************ */
