@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  margin-left: 25%;
  margin-right: 15%;
  margin-top: 2%;
  /* padding: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: Raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border-style: dotted; */
  background-color: #fcf7e4;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* img {
  width: 75%;
} */
/* Landing page */
#landing-page {
  width: 70%;
  align-content: center;
  text-align: center;
  margin: auto;
}
.carousel {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
button {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  width: 230px;
  height: 59px;
  top: 170px;
  left: 70px;
  margin: 1%;
  border: 1px solid black;
  border-radius: 30px;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
button:hover {
  font-size: 20px;
}
/* ************* Input CSS ************* */
/* https://codepen.io/SMLMRKHLMS/pen/qxtDw */
.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  font-family: Raleway;
  font-size: 18px;
  height: 50px;
  /* left: 50%; */
  padding: 10px 0px;
  /* top: 50%; */
  width: 200px;
}
.input:focus {
  outline: none;
  border-bottom: 1px solid black;
}
input::-webkit-input-placeholder {
  color: #aaa;
}
input:focus::-webkit-input-placeholder {
  color: black;
}
/* ****************************************************** */
/* ************* DROPDOWN Select menu ************* */
/* https://codepen.io/bello/pen/wopvbN?editors=1100 */
label.dropdown select {
  padding: 10px 42px 10px 10px;
  background: #f8f8f8;
  color: #444;
  border: 1px solid #aaa;
  border-radius: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
}
label.dropdown select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #444;
}
label.dropdown select::-ms-expand {
  display: none;
}
label.dropdown:before {
  content: "";
  right: 5px;
  top: -7px;
  width: 30px;
  height: 33px;
  background: #f8f8f8;
  position: absolute;
  pointer-events: none;
  display: block;
}
label.dropdown {
  position: relative;
}
label.dropdown:after {
  content: ">";
  font: 16px Consolas, monospace;
  color: #444;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 2px;
  top: 5px;
  position: absolute;
  pointer-events: none;
  width: 50px;
  padding: 0 0 5px 0;
  text-indent: 14px;
}
@media screen\0 {
  label.dropdown:after {
    width: 38px;
    text-indent: 15px;
    right: 0;
  }
}
@media screen and (min--moz-device-pixel-ratio: 0) {
  label.dropdown select {
    padding-right: 40px;
  }
  label.dropdown:before {
    right: 6px;
  }
  label.dropdown:after {
    text-indent: 14px;
    right: 6px;
    top: -5px;
    width: 36px;
  }
}
/* ****************************************************** */
/* ************* Go down Arrow Animation ************* */
/* https://codepen.io/bunyaminakin/pen/XjqxgL */
/* .wrap {
  height: 100%;
  width: 100%;
  text-align: center;
} */
#arrow {
  height: 50px;
  width: auto;
}
/* .wrap img {
} */
.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
/* ****************************************************** */
/* ****************************************************** */
/* Navigation menue */
.top-right {
  border-style: double;
  text-align: center;
  background-color: #fcf7e4;
  position: fixed;
  top: 0;
  left: 0;
  width: 10em;
}
.top-right.go-back {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin: 1% 0 0 2%;
  width: 3em;
}
.navbar-name {
  margin: 25% auto;
}
/* **************** Hover Menu Bar **************** */
/* https://codepen.io/Calloumi/pen/vndlH */
#navnav {
  margin: 1% 0 0 2%;
  padding: 24px;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.nav-1 {
  background: #fcf7e4;
}
.link-1 {
  transition: 0.3s ease;
  background: rgba(0, 0, 0, 0);
  color: black;
  font-size: 15px;
  text-decoration: none;
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  padding: 20px 0;
  margin: 0 20px;
}
.link-1:hover {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 6px 0;
}
/* ****************************************************** */
/* ****************************************************** */
/* User login, logout, signup, profile container */
#user-container {
  /* border-style: groove; */
  text-align: center;
  margin: 1%;
}
#profile-update {
  display: flex;
  justify-content: space-between;
}
#order-table {
  margin: 0.5em;
}
#moonya-logo {
  text-align: center;
}
.order.history.table {
  border-style: double;
  display: flex;
  justify-content: space-around;
  margin: 1%;
}
.table-content {
  padding-left: 3em;
}
/* ****************************************************** */
/* customer cart */
#cart {
}
#cart-image {
  margin: 1% 2% 0 0;
  background-color: #fcf7e4;
  width: 3em;
  position: fixed;
  top: 0;
  right: 0;
}
#cart-number {
  margin: 1% 2% 0 0;
  position: fixed;
  top: 18px;
  right: 19px;
}
#cart-items-list {
  display: flex;
  justify-content: space-around;
  border-style: groove;
}
#submit-order-form {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}
#quantity {
  font-size: 25px;
}
.cart.items.button {
  display: flex;
  justify-content: space-around;
}
.cart.items.button button {
  height: 30px;
  width: 25px;
  line-height: 1%;
}
.cart.items {
  margin: auto;
}
.cart.items.detail {
  text-align: center;
}
.cart.image {
  width: 200px;
}
/* ****************************************************** */
/* Products */
/* #product-container {
} */
#product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  /* border-style: groove; */
  /* margin: 1%; */
}
#product-card-wrapper {
  margin-bottom: 1em;
}
#product-card {
  border-style: groove;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  /* margin-bottom: 0.5em; */
}
#product-showpage {
  display: flex;
  justify-content: space-around;
}
#showpage-img {
  margin-top: 2em;
}
.product.details {
  margin: 0;
}
.product-image {
  width: 250px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  /* margin-bottom: 1em; */
  padding: 0.1em;
}
.product {
  margin: 10px auto;
}
.customer-input {
  margin-top: 15%;
  margin-left: 1em;
}
.customer-input form {
  margin-left: 1em;
}
/* ***************** Flip image ***************** */
/*  https://codepen.io/himalayasingh/pen/PdqbqV?editors=1100  */
section {
  width: 150px;
  background-color: transparent;
  /* box-shadow: 0px 5px 35px #d7d7d7; */
  border-radius: 35px;
  margin: auto;
}
.toggle-btn {
  position: relative;
  width: 55px;
  height: 30px;
  /* margin: 0; */
  border-radius: 40px;
}
input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
#flip-toggle-btn {
  /* margin: 60px auto 76px auto; */
}
#flip-toggle-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 3px solid #b3b3b3;
  border-color: #82c1d6;
  overflow: hidden;
  background-color: #c0e6f6;
  border-radius: 40px;
  transition: 0.8s ease border-color;
}
#flip-toggle-btn span:before {
  content: "";
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: tan;
  background-color: #f5e63d;
  margin-left: 0px;
  border-radius: 50%;
  transform: translate(0px, 7px);
  transition: 0.4s ease border-radius, 0.4s ease transform, 0.6s ease width,
    0.6s ease margin-left, 0.8s ease border-color;
}
#flip-toggle-btn input[type="checkbox"]:active + span:before {
  width: 80px;
  border-radius: 40px;
}
#flip-toggle-btn input[type="checkbox"]:checked:active + span:before {
  margin-left: -22px;
}
#flip-toggle-btn input[type="checkbox"]:checked + span {
  border-color: #000;
  background-color: #484848;
}
#flip-toggle-btn input[type="checkbox"]:checked + span:before {
  border-color: #e1e4c5;
  transform: translate(23px, 7px);
}
#flip-toggle-btn label {
  position: absolute;
  margin-left: 0.7em;
  margin-top: 2em;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
}
/* ****************************************************** */
/* ****************************************************** */
/* Searching & Filtering & Sorting */
#user-input {
  /* border-style: ridge; */
  margin: 2%;
  /* justify-content: space-around; */
  flex-direction: column;
}
.user-input {
  text-align: center;
}
#chosen-tags {
  display: flex;
  justify-content: space-around;
}
.collection {
  border-style: groove;
  background-color: aliceblue;
}
.collection h6 {
  margin: 0.5em;
}
/* ****************************************************** */
/* Searching */
.search-component {
  text-align: center;
}
#search {
  margin: 1em 0;
}
#magnifier {
  width: 4em;
}
.magnifier {
  text-align: center;
}
/* ****************************************************** */
/* Sorting */
#sort {
  margin: 0.5em 0;
}
#price-sort-container {
  /* margin-left: 20%; */
  display: flex;
}
.price-sort {
  border-style: groove;
  background-color: aliceblue;
}
.price-sort h6 {
  /* background-color: rgb(239, 234, 225); */
  margin: 0.5em;
}
/* ****************************************************** */
/* Filtering */
#filter-color {
  margin: 0.5em 0;
}
#filter-gender {
  margin: 0.5em 0;
}
#filter-material {
  margin: 0.5em 0;
}
#filter-category {
  margin: 0.5em 0;
}
#color-filter-container {
  /* margin-left: 1%; */
  display: flex;
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
}
#gender-filter-container {
  display: flex;
}
#material-filter-container {
  display: flex;
}
#category-filter-container {
  display: flex;
}
.filter {
  border-style: groove;
  margin-left: 0.2em;
}
.filter.gender {
  background-color: aliceblue;
}
.filter.materials {
  background-color: aliceblue;
}
.filter.categories {
  background-color: aliceblue;
}
.filter h6 {
  margin: 0.5em;
}
.white {
  background-color: aliceblue;
}
.black {
  background-color: black;
  color: aliceblue;
}
.brown {
  background-color: rgb(121, 81, 16);
  color: aliceblue;
}
.navy {
  background-color: rgb(63, 74, 83);
  color: aliceblue;
}
.blue {
  background-color: rgb(103, 157, 198);
}
.yellow {
  background-color: rgb(254, 208, 93);
}
.pink {
  background-color: rgb(247, 187, 197);
}
.purple {
  background-color: rgb(128, 67, 154);
  color: aliceblue;
}
.beige {
  background-color: rgb(218, 199, 176);
}
.red {
  background-color: rgb(191, 64, 40);
  color: aliceblue;
}
.green {
  background-color: #57ad68;
  /* background-color: rgb(88, 167, 104); */
}
/* ************************************ */
